<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/vendor/normalize.css">
    <link rel="stylesheet" href="./css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.min.css?v=0.0.3">
</head>

<body>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col s12 l6 text-left">
                    <a href="/" class="logo-link left">
                        <img src="./images/logo.png" class="brand-logo" alt="Company Name">
                    </a>
                </div>
                <div class="col s12 l6 right-align">
                    <ul class="external-links right">
                        <li>
                            <a href="#">
                                <i class="la la-phone"></i> +51 312 4582 548
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="la la-facebook-official"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="la la-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="menu-primary">
        <div class="container">
            <div class="row">
                <div class="col s12 l6 right-align">
                    <ul class="menu right">
                        <li>
                            <a href="#">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Productos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                acerca de la empresa
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <header class="banner">
        <div class="banner--content">
            <div class="container">
                <div class="row">
                    <div class="col s12 l6 left-align">
                        <p>Solo por este mes 50% de descuento en todoslos productos de la marca Paquito.</p>
                        <p>Encuentra lo que necesitas a precios insuperables todo en productos seleccionados y bebidas.</p>
                    </div>

                    <div class="col s12 l6 right-align">
                          <img src="./images/banner-product.png" alt="">
                        </div>
                </div>
            </div>
        </div>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>